@charset "UTF-8";

/* 
 em HTML é id = em CSS é # (só pode um elemento)
 em HTML é class = em CSS  é . (pode vários elementos)
 */

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: ;
}

h1#principal {
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: white;
}

h2 {
 color: ;
}

.basico {
 color: rgb(73, 109, 71);
}

.intermediario {
  color: rgb(177, 197, 27);
}

.avancado {
    color: rgb(229, 43, 11) ;

}

.destaque {
    background-color: rgba(151, 151, 72, 0.555);
}